@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.bounds:hover {
  transform: scale(2);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* cursor: none !important; */
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.border-animation {
  --border-width: -2px;
  position: relative;
  background-color: rgb(10 10 10 / var(--tw-bg-opacity));
  margin: 2px;
  /* border: none; */

  &::after,
  &::before {
    position: absolute;
    content: '';
    top: var(--border-width);
    left: var(--border-width);
    right: var(--border-width);
    bottom: var(--border-width);
    z-index: -1;
    background-image: conic-gradient(from var(--angle), transparent 70%, theme(colors[blue].400));
    border-radius: 6px;
    overflow: hidden;
    animation: 2s grad-spin linear infinite;
    overflow: visible;
  }

  &::before {
    filter: blur(5rem);
    opacity: 0.5;
  }
}

@keyframes grad-spin {
  from {
    --angle: 0deg
  }

  to {
    --angle: 360deg
  }
}